<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <script rel="preload" src="@Assets["tailwind_3.js"]"></script>
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorApp.styles.css"]" />
    <link rel="preload" href="fonts/inter/Inter-VariableFont_opsz,wght.ttf" as="font" type="font/ttf" crossorigin />
    <ImportMap />
    <link rel="icon" type="image/svg" href="favicon.svg" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
