<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <Authorizing>
                <div class="loader !w-screen"></div>
            </Authorizing>
            <NotAuthorized>
                @{
                    @inject NavigationManager NavigationManager;
                    NavigationManager.NavigateTo($"/login?returnUrl={NavigationManager.ToBaseRelativePath(NavigationManager.Uri)}");
                }
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <BlazorApp.Components.Pages.PageNotFound></BlazorApp.Components.Pages.PageNotFound>
    </NotFound>
</Router>
