@page "/account"
@layout MainLayout
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization

<h1>User Claims</h1>

<AuthorizeView>

@foreach (var claim in @context.User.Claims) {
    @claim
    <br />
}
</AuthorizeView>

@code {
}