@inherits LayoutComponentBase
@inject NavigationManager Navigator
@inject IHttpClientFactory ClientFactory


<header class="bg-white border-b border-zinc-200">
    <div class="mx-auto flex items-center justify-between px-3 h-14 lg:px-8">
        <a class="flex flex-row gap-2" href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" class="bi bi-database-fill"
                viewBox="0 0 16 16">
                <path
                    d="M3.904 1.777C4.978 1.289 6.427 1 8 1s3.022.289 4.096.777C13.125 2.245 14 2.993 14 4s-.875 1.755-1.904 2.223C11.022 6.711 9.573 7 8 7s-3.022-.289-4.096-.777C2.875 5.755 2 5.007 2 4s.875-1.755 1.904-2.223" />
                <path
                    d="M2 6.161V7c0 1.007.875 1.755 1.904 2.223C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777C13.125 8.755 14 8.007 14 7v-.839c-.457.432-1.004.751-1.49.972C11.278 7.693 9.682 8 8 8s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972" />
                <path
                    d="M2 9.161V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13s3.022-.289 4.096-.777C13.125 11.755 14 11.007 14 10v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972" />
                <path
                    d="M2 12.161V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972" />
            </svg>
            <span class="font-bold text-lg">
                Datum Pithos
            </span>
        </a>

        <nav class="flex gap-2">
            <div class="flex p-2">
                <NavLink class="font-semibold [&.active]:underline" href="measurements" Match="NavLinkMatch.Prefix">
                    Målinger
                </NavLink>
            </div>
            <div class="relative inline-block text-left">
                <div>
                    <button @onclick="Show" @onblur="PanelBlurred" type="button"
                        class="h-10 w-10 grid place-items-center bg-zinc-300 rounded-xl">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-gear"
                            viewBox="0 0 16 16">
                            <path
                                d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0" />
                            <path
                                d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z" />
                        </svg>
                    </button>
                </div>
                @if (showDropdown)
                {
                    <div class="absolute right-0 z-10 mt-1 w-40 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none"
                        role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                        <div role="none">
                            <div class="block px-4 py-2 text-sm text-zinc-400">
                                @Name
                            </div>
                            <a href="/account" class="hover:bg-zinc-100 block px-4 py-2 text-sm text-zinc-700"
                                role="menuitem" tabindex="-1" id="menu-item-0">Konto</a>

                            <button type="submit" @onclick="Logout"
                                class="hover:bg-zinc-100 block w-full px-4 py-2 text-left text-sm text-zinc-700"
                                role="menuitem" tabindex="-1" id="menu-item-3">Log ud</button>

                        </div>
                    </div>
                }
            </div>

        </nav>
    </div>
</header>

<article class="mx-4 flex h-[calc(100dvh-3.5rem-1px)]">
    @Body
</article>

@code {
    private bool showDropdown = false;
    private bool ItemClicked { get; set; } = false;

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }

    private string Name { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        if (AuthState == null)
        {
            return;
        }
        var authState = await AuthState;
        Name = authState.User.FindFirst("name")?.Value ?? "";
    }

    private void Logout()
    {
        Navigator.NavigateTo("http://localhost:8080/oidc/v1/end_session?post_logout_redirect_uri=http://localhost:5167/&client_id=311607148553502723");
    }

    private async Task PanelBlurred(FocusEventArgs e)
    {
        // Adjust based on use case
        await Task.Delay(100);

        if (!ItemClicked)
        {
            Hide();
        }

        // reset for future clicks
        ItemClicked = false;
    }

    private void OnItemMouseDown()
    {
        ItemClicked = true;
    }
    private void Show()
    {
        showDropdown = true;
    }

    private void Hide()
    {
        showDropdown = false;
    }
}