.navbar-toggler {
	appearance: none;
	cursor: pointer;
	width: 3.5rem;
	height: 2.5rem;
	color: white;
	position: absolute;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked {
	background-color: rgba(255, 255, 255, 0.5);
}

.top-row {
	min-height: 3.5rem;
	border-bottom: 1px solid #e2e2e2;
}

.nav-item {
	font-size: 1rem;
	font-weight: 600;
	padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
	padding-top: 1rem;
}

.nav-item:last-of-type {
	padding-bottom: 1rem;
}

.nav-item ::deep .nav-link {
	color: black;
	background: none;
	border: none;
	border-radius: 16px;
	height: 3rem;
	display: flex;
	align-items: center;
	line-height: 3rem;
	width: 100%;
}

.nav-item ::deep a.active {
	background-color: rgba(0, 0, 0, 0.1);
	color: black;
}

.nav-item ::deep .nav-link:hover {
	background-color: rgba(0, 0, 0, 0.1);
	color: black;
}

.sidebar {
	border-right: 1px solid #e2e2e2;
}

.nav-scrollable {
	display: block;
}

@media (min-width: 764px) {
	.navbar-toggler {
		display: none;
	}

	.nav-scrollable {

		/* Allow sidebar to scroll for tall menus */
		flex: 1;
		overflow-y: auto;
	}

	.sidebar {
		width: 300px;
	}

	.top-row {
		z-index: 1;
	}
}

::deep .new-btn .nav-link {
	background-color: #6b6b6b !important;
	color: white !important;
	width: 100%;
	text-align: center;
	justify-content: center;
}

.new-btn {
	background-color: white;
}