@inherits LayoutComponentBase
@layout MainLayout

<PageTitle>Measurements</PageTitle>

<div class="flex flex-grow flex-row">
    <div class="flex flex-col justify-between w-72 border-r border-zinc-200">
        <nav class="pr-4 py-3 flex flex-col gap-2 font-medium">
            <NavLink class="[&.active]:bg-zinc-100 block p-2 rounded-lg hover:bg-zinc-100" href="@GetLink(1)"
                Match="NavLinkMatch.All">
                Vand målinger 1
            </NavLink>
            <NavLink class="[&.active]:bg-zinc-100 block p-2 rounded-lg hover:bg-zinc-100" href="@GetLink(2)"
                Match="NavLinkMatch.All">
                Vand målinger 2
            </NavLink>
            <NavLink class="[&.active]:bg-zinc-100 block p-2 rounded-lg hover:bg-zinc-100" href="@GetLink(3)"
                Match="NavLinkMatch.All">
                Vand målinger 3
            </NavLink>
            <NavLink class="[&.active]:bg-zinc-100 block p-2 rounded-lg hover:bg-zinc-100" href="@GetLink(4)"
                Match="NavLinkMatch.All">
                Vand målinger 4
            </NavLink>
        </nav>
        <div class="pr-4 py-3 font-semibold">
            <NavLink class="" href="/measurements/new" Match="NavLinkMatch.All">
                <div class="grid place-items-center p-2 rounded-lg text-white bg-zinc-500">
                    Ny samling
                </div>
            </NavLink>
        </div>
    </div>

    <main class="mt-3 ml-4 flex-grow">
        @Body
    </main>
</div>

@code {
    private string GetLink(int _id)
    {
        return $"/measurements/{_id}";
    }
}