@font-face {
    font-family: Inter;
    src: url('fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

html,
body {
    font-family: Inter;
    height: 100dvh;
    margin: 0;
}

h1:focus,
h2:focus {
    outline: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;